* {
  box-sizing: border-box;
}
h1 {
  color: #FFF;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  padding:70px;
  text-shadow:2px 0 0#000000;
}
section {
  display: block,
}
#logo {
  position:relative;
  top:70px;
  border:none;
  outline:none;
}
#lang-select{
  position:relative;
  top:7px;
}
.navigation {
  text-align: center;
  overflow: hidden;
  position: relative;
}
body {
  background-color: #FBFBFB;
  font-family: 'Raleway', sans-serif;
  margin:auto;
  padding:auto;
  
}
ul {
  margin: 0;
  padding: 0;
  text-decoration:none;

}
li {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:20px;
  display: inline-block;
  float:center;
  text-decoration:none;
}
.banner{
  text-allign:center;
}
#banner1-content {
  background-image: url("http://res.cloudinary.com/dd8tkilzy/image/upload/v1492434122/san-sebastian_u5tipc.jpg");
  background-size: cover;
  background-position: bottom center;
  background-blend-mode: color-dodge;
  height: 200px;
  width: 80%;
  margin:auto;
  text-align:center;
  position:relative;
}
#banner-content {
  text-allign:center;
  position: relative;
  top: 20%;
  width: 60%;
  padding: 30px 10px;
  margin: auto;
}
h2,#Learn {
  color: #FFF;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-align: center;
}
#Learn{
  border: 1px solid #FFF;
  display: inline-block;
  padding: 20px;
  text-decoration:none;
}
.topnav{
  text-decoration:none;
  color:rgb(0,0,0);
}
.header{
  display: inline-block;
  position: center;
  text-align:center;
}
.desc{
    text-justify: inter-word;
}
#desc{
  color: #585858;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 40px;
  text-align: center;
}
.footer {
  color: #AAA;
  margin-top:50px;
}
#desc2{
  color: #585858;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 20px 150px;
  text-align: justify;
  line-height: 30px;
}
#donostipics{
  text-align:center;
}